In [1]:
#video link https://www.youtube.com/watch?v=3MGYg7pfDSo&list=PLfFghEzKVmjunyr8OPegxrX7y83IDuZNV&index=10

# Initials

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('heart.csv')

In [4]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64



*   1 ->Defective
*   2 ->Healty

In [10]:
X = heart_data.drop(columns='target',axis=1)
Y = heart_data['target']

## Train Test Split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

## Model loading -> Logistic Regression

In [12]:
model = LogisticRegression(max_iter=1000)

In [13]:
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

# Accuracy Score

It's better to use for binary classification

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
xtrain_pred = model.predict(X_train)
training_accuracy = accuracy_score(Y_train,xtrain_pred)
print(training_accuracy)

0.8553719008264463

In [16]:
xtest_pred = model.predict(X_test)
test_accuracy = accuracy_score(Y_test,xtest_pred)
print(test_accuracy)

0.8032786885245902

# Precision

Ratio of num of True Positive to the total num of Predicted Positive.


Precision = True Positive / Total num of predicted positive

In [17]:
from sklearn.metrics import precision_score

In [18]:
# for training data prediction

precision_train = precision_score(Y_train,xtrain_pred)
print('Train data precision',precision_train)

Train data precision 0.8299319727891157

In [19]:
# for test data prediction

precision_test = precision_score(Y_test,xtest_pred)
print('Test data precision',precision_test)

Test data precision 0.8181818181818182

# Recall

In [22]:
from sklearn.metrics import recall_score

# for training data prediction

recall_train = recall_score(Y_train,xtrain_pred)
print('Train data recall score',recall_train)

# for test data prediction

recall_test = recall_score(Y_test,xtest_pred)
print('Test data recall score',recall_test)

Train data recall score 0.9242424242424242
Test data recall score 0.8181818181818182

Recall is good when False negative predictions are critical

# F1 Score

In [23]:
from sklearn.metrics import f1_score

# for training data prediction

f1_train = f1_score(Y_train,xtrain_pred)
print('Train data f1score',f1_train)

# for test data prediction

f1_test = f1_score(Y_test,xtest_pred)
print('Test data f1score',f1_test)

Train data f1score 0.8745519713261649
Test data f1score 0.8181818181818182

# Function to calculate all three

In [26]:
def precision_recall_f1_score(true_labels,pred_labels):
  precision_value=precision_score(true_labels,pred_labels)
  recall_value=recall_score(true_labels,pred_labels)
  f1_score_value=f1_score(true_labels,pred_labels)

  print('Precision = ',precision_value)
  print('Recall = ',recall_value)
  print('F1 Score = ',f1_score_value)

In [27]:
# Classification metrics for training data

precision_recall_f1_score(Y_train,xtrain_pred)

Precision =  0.8299319727891157
Recall =  0.9242424242424242
F1 Score =  0.8745519713261649

In [28]:
# Classification metrics for test data

precision_recall_f1_score(Y_test,xtest_pred)

Precision =  0.8181818181818182
Recall =  0.8181818181818182
F1 Score =  0.8181818181818182

We use when our dataset is **UNBALANCED**